// CSS Reset
@import './colors.scss';
@import './variables.scss';
@import 'antd/dist/antd.css';
@import './reset.css';

// Generic
.flex-column {
    flex-direction: column !important;
}

.cursor-pointer {
    @media screen and (min-width: 768px) {
        cursor: pointer;
    }
}

body {
    background-color: $main;
    font-family: $font-roboto;
    color: $contrary;
}